div.contenedor-cuerpo{
                      font-family: arial, Helvetica, sans-serif;
                      margin-top:4em;
                      /*background-image: url("../img/dibujo-panes.jpg")*/
                      background-image: url("../img/fondo.jpg")


                      }

div.cabecera{background-color: darkred;
            font-family: "Book Antiqua";
            color: #ffeae4;
            padding: 2em 0;
            margin-bottom: 2em;
            text-align: center;
            }

fieldset.formulario{background-color: #ffeae4}

div.pie{background-color: darkred;
            font-family: "Book Antiqua";
            color: #ffeae4;}


div.tabla{
    max-height: 300px; /* Altura máxima que permitirá antes de mostrar el scrollbar */
    overflow-y: auto; /* Scrollbar vertical */
}

div.tabla thead th {
    position: sticky;
    top: 0;
    z-index: 2; /* Asegura que el thead quede por encima del contenido */
    background-color: #f8f9fa; /* Color de fondo similar al utilizado por Bootstrap */
}

.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card-body p {
    font-size: 0.9rem;
    color: #555;
}
/* Tamaño igual para todas las img */
.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta este valor según lo que necesites */
    object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
}