{% extends "base/base.html" %}
{% block titulo %}Inicio Sesión{% endblock %}
{% block contenido_principal %}
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <div class="text-center mb-4 cab">
                <h1>Iniciar sesión</h1>
                <p>Ingrese sus credenciales para Ingresar al Sistema</p>
            </div>

            {% if msj %}
                <div class="alert alert-info">{{ msj }}</div>
            {% endif %}

            <fieldset class="border p-4 rounded detalle">
                <form action="{% url 'usuario:login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="username">Nombre de Usuario:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="passw">Contraseña:</label>
                        <input type="password" id="passw" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </fieldset>
        </div>
    </div>
{%endblock%}